<aside class="wizard-sidebar">
  <ul>
    <ng-container *ngFor="let menu of menuList; let idx = index">
      <li
        [class.active]="menu.key === activeMenu"
        [class.step-title]="menu.isStep"
        [class.sub-item]="menu.isSub"
        (click)="menuClick.emit(menu.key)"
        style="cursor: pointer;"
      >
        {{ menu.label }}
      </li>
      <!-- Integrations 子步骤，仅在 Integrations 步骤下展示 -->
      <ng-container *ngIf="menu.key === 'Integrations' && integrationSteps?.length">
        <ul>
          <li
            *ngFor="let step of integrationSteps; let i = index"
            [class.active]="activeMenu === 'Integrations' && integrationStepIndex === i"
            class="integration-substep"
            (click)="integrationStepChange.emit(i); $event.stopPropagation();"
            style="cursor: pointer;"
          >
            {{ getIntegrationLabel(step) }}
          </li>
        </ul>
      </ng-container>
    </ng-container>
  </ul>
</aside>