<aside class="wizard-sidebar">
  <ul>
    <ng-container *ngFor="let menu of menuList; let idx = index">
      <li
        [class.active]="menu.key === activeMenu"
        [class.step-title]="menu.isStep"
        [class.sub-item]="menu.isSub"
      >
        {{ menu.label }}
      </li>
      <!-- Integration 特殊情况保留 -->
      <ng-container *ngIf="menu.key === 'Integrations'">
        <ul *ngIf="integrationSteps?.length">
          <li
            *ngFor="let step of integrationSteps; let i = index"
            [class.active]="activeMenu === 'Integrations' && integrationStepIndex === i"
            class="integration-substep"
            (click)="integrationStepChange.emit(i)">
            {{ getIntegrationLabel(step) }}
          </li>
        </ul>
      </ng-container>
    </ng-container>
  </ul>
</aside>

