.wizard-sidebar {
  background: none;
  border: none;
  padding: 2rem 0 2rem 0.5rem;
  min-width: 180px;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    font-size: 1.08rem;
    padding: 0.5rem 1.5rem;
    color: #666;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 0.2rem;
    background: none;
    border: none;
    &.active {
      color: #0070f3;
      font-weight: 700;
      background: #f8faff;
    }
  }
}
