:host {
  display: block;
}

.wizard-header-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: none;
  border: none;
  border-bottom: 1.5px solid #a0e2b7;
  padding: 0.75rem 2rem 0.5rem 2rem;
  
  height: 3.5rem;
}

.wizard-header-link {
  color: #222;
  font-weight: 600;
  text-decoration: underline;
}

.back-home-link {
  color: #222;
  font-weight: 600;
  text-decoration: underline;
}
